@using SitecoreBugger.Site.Model.Global;

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/SCBLayout/_Account.cshtml";
}

@model Login

<link href="~/Content/SCB/Styles/Login.css" rel="stylesheet" />

<div id="login">

    <h3 class="text-center text-white pt-5">
        <blockquote class="blockquote text-center">
            <h1 class="">Sitecore Bugger</h1>
            <footer class=" blockquote-footer">Rich experience <cite title="Source Title">sitecore project bug management.</cite></footer>
        </blockquote>
    </h3>


    <div class="container">

        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form sc_bugger-form-validator" action="" method="post" novalidate>
                        <br />
                        <h3 class="text-center text-info">Login</h3>
                        @if (!ViewBag.IsLoginFailed)
                        {
                            <div id="info-alert" class="alert alert-danger" role="alert">
                                Invalid user or password.
                            </div>
                            <br />
                        }

                        <div class="form-group">
                            <label for="UserName" class="text-info">Email:</label><br>
                            <input type="email" name="Email" id="Email" class="form-control rounded-0" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <div class="form-group">
                            <label for="Password" class="text-info">Password:</label><br>
                            <input type="password" name="Password" id="Password" class="form-control rounded-0" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-md btn-primary  rounded-0" value="Login">
                        </div>

                        <div class="form-group float-right">
                            <a href="/sc-bugger/scbaccount/signup">Sign-up</a> |
                            <a href="/sc-bugger/scbaccount/ForgotPassword">Forgot password</a>
                            <br />
                        </div>
                       
                        <br />

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('sc_bugger-form-validator');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        $(this).attr("is-valid-form", false);
                    }
                    else {
                        $(this).attr("is-valid-form", true);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>