@using SitecoreBugger.Site.Model.Global;

@{
    /**/


    List<Project> projList = ViewBag.AllProjects;
}

@if (projList == null)
{
    <div id="info-alert" class="alert alert-danger" role="alert">
        Error in save project
    </div>
}
else
{
    Html.RenderPartial("adminProjectTableRows", projList);
}
}



