.sc_bugger-element *{
    z-index: 2147483647 !important;
  
}

#sc_bugger-icon-bar a, #sc_bugger-icon-bar a i{  
    /*position:absolute;*/
}

.sc_bugger-label {
    color: blue;
}

.sc_bugger-bgm-re {
    border: aqua solid 3px;
}

.sc_bugger-bgm-error {
    border: red solid 3px;
}

/*Bootstrap styles*/
.popover-header {
    background-color: rgba(255, 0, 0, 0.9);
    color: #FFF;
}

.popover-body {
    background-color: rgba(255, 0, 0, 0.9);
    color: #FFF;
}

.bs-popover-bottom > .arrow:after {
    border-bottom-color: red;
}

.bs-popover-top > .arrow:after {
    border-top-color: red;
}

.bs-popover-left > .arrow:after {
    border-left-color: red;
}

.bs-popover-right > .arrow:after {
    border-right-color: red;
}
/*Bootstrap styles*/

.sc_bugger-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: #FFF;
    text-align: center;
}

.sc_bugger-my-float {
    margin-top: 22px;
}

#sc_bugger-icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    #sc_bugger-icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        font-size: 20px;
    }

        #sc_bugger-icon-bar a:hover {
            background-color: #000;
        }


.sc_bugger-element-background-color-light {
    /*background-color: #E6FFDB;*/
}

.sc_bugger-element-background-color {
    background-color: #30b579;
    color: white;
}

.sc_bugger-icon-bar-active {
    background-color: #4CAF50;
}

.sc_bugger-hide {
    display: none !important;
}

.sc_bugger-show {
    display: block !important;
}

#sc_bugger-icon-bar .main-icon i {
    color: red;
}

#sc_bugger-icon-bar .main-icon i {
    animation: sc_bugger-icon-barblink 1s linear infinite;
}

@keyframes sc_bugger-icon-barblink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.sc_bugger-disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color:grey;
}

.sc_bugger-element.modal label {
    font-weight: bold;
}
