
@{
    ViewBag.Title = "Tools";
    Layout = null;
}

<!--handle conflict styles and scripts-->
<link href="~/Content/Styles/sc-bugger-tools-main.css" rel="stylesheet" />

<div class="sc_bugger-element row">
    <!--Error detail modal-->
    <div class="sc_bugger-element-modal sc_bugger-element modal error-detail-modal buger-element" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header sc_bugger-element-background-color">
                    <h4 class="modal-title">Error details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sc_bugger-element-background-color-light">


                    <form ID="sc_bugger-form-mark-error" class="sc_bugger-form-validator" is-valid-form="false" novalidate>
                        <!--Error title-->
                        <div class="form-group">
                            <label for="errorTitle">Error title</label>
                            <input type="text" class="form-control" id="errorTitle" placeholder="Error title" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <!--Error type-->
                        <div class="form-group">
                            <label class="" for="exampleFormControlSelect1">Error type</label>
                            <select class="form-control" id="errorType" required>
                                <option value="Functional">Functional</option>
                                <option value="Design">Design</option>
                                <option value="Environmental">Environmental</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <!--Error Severity-->
                        <div class="form-group">
                            <label class="" for="errorSeverity">Error Severity</label>
                            <select class="form-control" id="errorSeverity" required>
                                <option value="Critical">Critical</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <!--Error detail-->
                        <div class="form-group">
                            <label class="" for="errorDetail">Error description (Html allowed)</label>
                            <textarea class="form-control" id="errorDetail" rows="3" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <!--Device detail-->
                        <div class="form-group">
                            <p>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    Device details -
                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample">
                                <div id="browser-detail" class="card card-body">

                                </div>
                            </div>
                        </div>

                        <!--screen shot-->


                        <div class="form-group sc_bugger-screen-shot-div sc_bugger-hide ">

                            <div class="custom-file">
                                <input id="sc_bugger-upload-screenshot" accept="image/*" type="file" class="custom-file-input" id="validatedCustomFile">
                                <label class="custom-file-label" for="validatedCustomFile">Upload screen shot...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>

                            <figure class="figure">
                                <br />
                                <img id="error-screen-shot" class="figure-img img-fluid rounded">
                                <figcaption class="figure-caption text-right">Screen shot of an issue.</figcaption>
                            </figure>
                        </div>

                        <button id="hidden-submit" class="sc_bugger-hide" type="submit">Submit form</button>
                    </form>

                </div>

                <div class="modal-footer sc_bugger-element-background-color">
                    <button id="sc_bugger-submit-error" type="button" class="btn btn-primary sc_bugger-hide">Submit</button>
                    <button id="sc_bugger-save-error" type="button" class="btn btn-primary ">Mark error</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Main modal-->
    <div class="sc_bugger-element-modal modal main-modal buger-element" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header sc_bugger-element-background-color">
                    <h4 class="modal-title">Home</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sc_bugger-element-background-color-light">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Projects</label>
                        <select class="form-control" id="errorType">
                            <option value="Sample.com">Sample.com</option>
                            <option value="Design.com">Design.com</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Errors</label>
                        <div class="row">

                            <div class="col-4">
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                                        Home
                                        <button class="btn btn-primary"><i class="fa fa-close"></i></button>
                                    </a>
                                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer sc_bugger-element-background-color">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Settings modal-->
    <div class="sc_bugger-element-modal modal settings-modal buger-element" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header sc_bugger-element-background-color">
                    <h4 class="modal-title">Settings</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sc_bugger-element-background-color-light">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Compress screenshot image</label>
                        <input type="checkbox" checked="checked" id="sc_bugger-settings-iscompressimage" />
                    </div>

                </div>
                <div class="modal-footer sc_bugger-element-background-color">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Bug icon-->
    <div class="sc_bugger-element sc_bugger-float">
        <div id="sc_bugger-icon-bar" class="icon-bar sc_bugger-my-float">
            <a href="/sc-bugger/dashboard/template1" target="_blank" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-dashboard"><i class="fa fa-home"></i></a>
            @*<a href="#" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-main"><i class="fa fa-home"></i></a>*@
            @*<a href="#" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-settings"><i class="fa fa-cog"></i></a>*@
            <a href="#" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-error-detail"><i class="fa fa-pencil-square-o"></i></a>
            <a href="#" class="sub-icon sc_bugger-hide sc_bugger-element-background-color sc_bugger-disabled" id="sc_bugger-save-error-confirm"><i class="fa fa-floppy-o"></i></a>
            <a href="#" class="main-icon"><i id="sc_bugger-bug-icon-b" class="fa fa-bug"></i></a>
        </div>


    </div>
</div>

<script src="~/Scripts/sc-bugger-main.js"></script>

