################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/html2canvas/bin
/.vs/
/html2canvas/obj
/SitecoreBugger/bin
/SitecoreBugger/obj/Debug
/HtmlTemplates/Dashboard sample
