@using Sitecore.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sitecore bugger</title>

    @if (true)
    {
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>

    }
    else
    {
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    }


    <script type="text/javascript">
        var thierinit = $.fn.jquery;
        $(document).ready(function () {
            var thierDocReadyCode = $.fn.jquery;
        });
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

    @Html.Sitecore().Placeholder("SCBTestSiteHeader");

    <div class="container">

    </div>

    @Html.Sitecore().Placeholder("SCBTestSiteFooter");

    @if (SitecoreBugger.Site.Utilities.Settings.CheckSCBEnabledSite())
    {
        @Html.Partial("~/Views/SCBTools/Tools.cshtml")
        @*<div id="sc-bugger-holder"></div>
        <script type="text/javascript">
            $(function() {
                   $.ajax({
                            url: '/sc-bugger/SCBTools/GetSCBTools',
                            type: 'GET',
                            cache: false,
                            data: {  }
                        }).done(function(result) {
                                $('#sc-bugger-holder').html(result);
                        });
            });
        </script>*@

    }

</body>
</html>
