
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Layout/_Account.cshtml";
}


<link href="~/Content/Styles/Login.css" rel="stylesheet" />



<div class="container">
    <blockquote class="blockquote text-center">
        <h1 class="text-white">Sitecore Bugger</h1>
        <footer class="text-white blockquote-footer">Rich experience <cite title="Source Title">sitecore project bug management.</cite></footer>
    </blockquote>
  <h2> Contact sitecor admin</h2>
</div>



