@using SitecoreBuggerCoder = SitecoreBugger.Site.Security.SitecoreBugger;
@using SitecoreBugger.Site.Model.Global;
@model MasterData

@{
    var usr = SitecoreBuggerCoder.Bugger.GetUserFromToken();
}
<!-- Sidebar  http://notepad.pw/agatanu-bugger -->
<nav id="sidebar" class="position-fixed--">

    <div class="sidebar-header">
        <h3><i id="sc_bugger-bug-icon-b" class="fa fa-bug"></i> Sitecore Bugger</h3>
        <strong><i id="sc_bugger-bug-icon-b" class="fa fa-bug"></i></strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/sc-bugger/scbdashboard/index" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="/sc-bugger/scbdashboard/index">
                <i class="fa fa-home"></i>
                Dashboard
            </a>          
        </li>
        <li>
            <a href="/sc-bugger/dashboard/report#">
                <i class="fa fa-bar-chart"></i>
                Report
            </a>
        </li>

        @if (usr.RoleId == 4)
        {
            <li>
                <a href="/sc-bugger/scbdashboard/admin">
                    <i class="fa fa-address-card"></i>
                    Admin
                </a>
            </li>
        }

        <li>
            <a href="#">
                <i class="fa fa-question"></i>
                FAQ
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://github.com/andiappan-ar/sitecore-bugger" class="download rounded-0">Go to source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article rounded-0">Back to article</a>
        </li>
    </ul>
</nav>
