body {
    background-color: #116466;
}

#login-column {
    background-color: white;
}

.sc_bugger-base-header {
    color: #ffcb9a !important;
}

.sc_bugger-element-inner-primary-button {
    background-color: #43beac !important;
    color: black !important;
}