USE [dummy]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ListToTable]    Script Date: 8/8/2019 12:26:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_ListToTable]
(
     @SplitOn              char(1)              --REQUIRED, the character to split the @List string on
    ,@List                 varchar(8000)        --REQUIRED, the list to split apart
)
RETURNS
@ParsedList table
(
    ListValue varchar(500)
)
AS
BEGIN

/**
Takes the given @List string and splits it apart based on the given @SplitOn character.
A table is returned, one row per split item, with a column name "ListValue".
This function workes for fixed or variable lenght items.
Empty and null items will not be included in the results set.


Returns a table, one row per item in the list, with a column name "ListValue"

EXAMPLE:
----------
SELECT * FROM dbo.FN_ListToTable(',','1,12,123,1234,54321,6,A,*,|||,,,,B')

    returns:
        ListValue  
        -----------
        1
        12
        123
        1234
        54321
        6
        A
        *
        |||
        B

        (10 row(s) affected)

**/



----------------
--SINGLE QUERY-- --this will not return empty rows
----------------
INSERT INTO @ParsedList
        (ListValue)
    SELECT
        ListValue
        FROM (SELECT
                  LTRIM(RTRIM(SUBSTRING(List2, number+1, CHARINDEX(@SplitOn, List2, number+1)-number - 1))) AS ListValue
                  FROM (
                           SELECT @SplitOn + @List + @SplitOn AS List2
                       ) AS dt
                      INNER JOIN Numbers n ON n.Number < LEN(dt.List2)
                  WHERE SUBSTRING(List2, number, 1) = @SplitOn
             ) dt2
        WHERE ListValue IS NOT NULL AND ListValue!=''



RETURN

END --Function FN_ListToTable
GO
/****** Object:  Table [dbo].[Error]    Script Date: 8/8/2019 12:26:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[ErrorId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorTitle] [nvarchar](255) NOT NULL,
	[ErrorDetail] [nvarchar](max) NOT NULL,
	[Selector] [nvarchar](max) NULL,
	[Uri] [nvarchar](max) NULL,
	[DateRaised] [nvarchar](max) NOT NULL,
	[ScreenShot] [varbinary](max) NULL,
	[ErrorSeverityId] [int] NOT NULL,
	[ErrorTypeId] [int] NOT NULL,
	[ErrorStatusId] [int] NOT NULL,
	[OwnerUserId] [int] NOT NULL,
	[AssigneeUserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorSeverity]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorSeverity](
	[ErrorSeverityId] [int] IDENTITY(1,1) NOT NULL,
	[EValue] [nvarchar](255) NOT NULL,
	[EDisplayName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorSeverityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorStatus]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorStatus](
	[ErrorStatusId] [int] IDENTITY(1,1) NOT NULL,
	[EValue] [nvarchar](255) NOT NULL,
	[EDisplayName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorType]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorType](
	[ErrorTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EValue] [nvarchar](255) NOT NULL,
	[EDisplayName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Numbers]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Numbers](
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_Numbers] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](255) NOT NULL,
	[IsbuggerActivated] [bit] NOT NULL,
	[Url] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Roles] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Error] ON 

INSERT [dbo].[Error] ([ErrorId], [ErrorTitle], [ErrorDetail], [Selector], [Uri], [DateRaised], [ScreenShot], [ErrorSeverityId], [ErrorTypeId], [ErrorStatusId], [OwnerUserId], [AssigneeUserId], [ProjectId]) VALUES (4, N'First title', N'Details of issue', N'wewewerw', N'wewerwe we we we wer ', N'2019-04-04', NULL, 1, 1, 1, 2, 4, 1)
INSERT [dbo].[Error] ([ErrorId], [ErrorTitle], [ErrorDetail], [Selector], [Uri], [DateRaised], [ScreenShot], [ErrorSeverityId], [ErrorTypeId], [ErrorStatusId], [OwnerUserId], [AssigneeUserId], [ProjectId]) VALUES (11, N'Second ', N'sdfsfd sdf sd fsdf sd fsdf sdf s', NULL, NULL, N'2019-04-05', NULL, 2, 1, 2, 3, 2, 3)
INSERT [dbo].[Error] ([ErrorId], [ErrorTitle], [ErrorDetail], [Selector], [Uri], [DateRaised], [ScreenShot], [ErrorSeverityId], [ErrorTypeId], [ErrorStatusId], [OwnerUserId], [AssigneeUserId], [ProjectId]) VALUES (12, N'third', N'we w we wer wer wr w', NULL, NULL, N'2019-04-04', NULL, 3, 2, 5, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[Error] OFF
SET IDENTITY_INSERT [dbo].[ErrorSeverity] ON 

INSERT [dbo].[ErrorSeverity] ([ErrorSeverityId], [EValue], [EDisplayName]) VALUES (1, N'low', N'Low')
INSERT [dbo].[ErrorSeverity] ([ErrorSeverityId], [EValue], [EDisplayName]) VALUES (2, N'medium', N'Medium')
INSERT [dbo].[ErrorSeverity] ([ErrorSeverityId], [EValue], [EDisplayName]) VALUES (3, N'high', N'High')
SET IDENTITY_INSERT [dbo].[ErrorSeverity] OFF
SET IDENTITY_INSERT [dbo].[ErrorStatus] ON 

INSERT [dbo].[ErrorStatus] ([ErrorStatusId], [EValue], [EDisplayName]) VALUES (1, N'open', N'Open')
INSERT [dbo].[ErrorStatus] ([ErrorStatusId], [EValue], [EDisplayName]) VALUES (2, N're-open', N'Re open')
INSERT [dbo].[ErrorStatus] ([ErrorStatusId], [EValue], [EDisplayName]) VALUES (3, N'closed', N'Closed')
SET IDENTITY_INSERT [dbo].[ErrorStatus] OFF
SET IDENTITY_INSERT [dbo].[ErrorType] ON 

INSERT [dbo].[ErrorType] ([ErrorTypeId], [EValue], [EDisplayName]) VALUES (1, N'functional', N'Functional')
INSERT [dbo].[ErrorType] ([ErrorTypeId], [EValue], [EDisplayName]) VALUES (2, N'design', N'Design')
INSERT [dbo].[ErrorType] ([ErrorTypeId], [EValue], [EDisplayName]) VALUES (3, N'environmental', N'Environmental')
SET IDENTITY_INSERT [dbo].[ErrorType] OFF
INSERT [dbo].[Numbers] ([Number]) VALUES (1)
INSERT [dbo].[Numbers] ([Number]) VALUES (2)
INSERT [dbo].[Numbers] ([Number]) VALUES (3)
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectId], [ProjectName], [IsbuggerActivated], [Url]) VALUES (1, N'projectA', 1, N'http://localhost:50188/sc-bugger/bugger/testpage')
INSERT [dbo].[Project] ([ProjectId], [ProjectName], [IsbuggerActivated], [Url]) VALUES (3, N'ProjectB', 1, N'http://localhost:50188/sc-bugger/bugger/testpage##')
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Roles]) VALUES (1, N'Developer')
INSERT [dbo].[Role] ([RoleId], [Roles]) VALUES (2, N'Tester')
INSERT [dbo].[Role] ([RoleId], [Roles]) VALUES (3, N'Manger')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserName], [RoleId]) VALUES (2, N'Andi', 4)
INSERT [dbo].[User] ([UserId], [UserName], [RoleId]) VALUES (3, N'Raviraj', 1)
INSERT [dbo].[User] ([UserId], [UserName], [RoleId]) VALUES (4, N'ManagerUser', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Error]  WITH CHECK ADD FOREIGN KEY([AssigneeUserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD FOREIGN KEY([ErrorSeverityId])
REFERENCES [dbo].[ErrorSeverity] ([ErrorSeverityId])
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD FOREIGN KEY([ErrorStatusId])
REFERENCES [dbo].[ErrorStatus] ([ErrorStatusId])
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD FOREIGN KEY([ErrorTypeId])
REFERENCES [dbo].[ErrorType] ([ErrorTypeId])
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
/****** Object:  StoredProcedure [dbo].[SP_GetError]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetError]
@ErrorId int, 
@ProjectId int,
@AssigneeUserId int,
@ErrorSeverityId varchar(255),
@ErrorTypeId varchar(255),
@ErrorStatusId varchar(255)
AS
BEGIN

	DECLARE @DYNAMIC_WHERE_SQL NVARCHAR(MAX) = '';
	DECLARE @DYNAMIC_GROUP_SQL NVARCHAR(MAX) = '';
	DECLARE @FINAL_SQL NVARCHAR(MAX) = '';
	DECLARE @ANY__SINGLE_FILTER_FOUND bit = 0;	
	DECLARE @ANY__GROUP_FILTER_FOUND bit = 0;	


	-- Project Id check
	IF @ProjectId IS NOT NULL
		BEGIN
			SET @ANY__SINGLE_FILTER_FOUND = 1;			
			SET @DYNAMIC_WHERE_SQL += ' ProjectId = '+ CAST(@ProjectId as varchar(255)) +' ';			
		END

	-- Error Id check
	IF @ErrorId IS NOT NULL
		BEGIN		
			SET @ANY__SINGLE_FILTER_FOUND = 1;				
			SET @DYNAMIC_WHERE_SQL += ' AND ErrorId = '+ CAST(@ErrorId as varchar(255)) +' ';
		END

	-- Assignee Id check
	IF @AssigneeUserId IS NOT NULL
		BEGIN		
			SET @ANY__SINGLE_FILTER_FOUND = 1;				
			SET @DYNAMIC_WHERE_SQL += ' AND AssigneeUserId = '+ CAST(@AssigneeUserId as varchar(255)) +' ';
		END

	-- Severity Id check
	IF @ErrorSeverityId IS NOT NULL
		BEGIN		
			SET @ANY__GROUP_FILTER_FOUND = 1;		
		
			SET @DYNAMIC_GROUP_SQL += ' INNER JOIN FN_ListToTable('','','''+@ErrorSeverityId+''') sev ON  Error.ErrorSeverityId = sev.ListValue '

		END

		-- Severity Id check
	IF @ErrorTypeId IS NOT NULL
		BEGIN		
			SET @ANY__GROUP_FILTER_FOUND = 1;		
		
			SET @DYNAMIC_GROUP_SQL += ' INNER JOIN FN_ListToTable('','','''+@ErrorTypeId+''') type ON  Error.ErrorTypeId = type.ListValue '

		END

		-- Severity Id check
	IF @ErrorStatusId IS NOT NULL
		BEGIN		
			SET @ANY__GROUP_FILTER_FOUND = 1;		
		
			SET @DYNAMIC_GROUP_SQL += ' INNER JOIN FN_ListToTable('','','''+@ErrorStatusId+''') stat ON  Error.ErrorStatusId = stat.ListValue '

		END

	-- Result execution
	
	IF @ANY__SINGLE_FILTER_FOUND = 1
		BEGIN		
			SET @DYNAMIC_WHERE_SQL = 'WHERE' + @DYNAMIC_WHERE_SQL ;			
		END

	
	SET @FINAL_SQL = 'SELECT * FROM Error '+ @DYNAMIC_GROUP_SQL+ @DYNAMIC_WHERE_SQL;

	PRINT @FINAL_SQL;

	EXECUTE SP_EXECUTESQL @FINAL_SQL;
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetErrorId]    Script Date: 8/8/2019 12:26:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetErrorId]
AS
SELECT [ErrorId] FROM [dummy].[dbo].[Error]
GO;
GO
