
@{

    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/SCBLayout/_AccountAndDashMainLayout.cshtml";
}

<link href="~/Content/SCB/Styles/Login.css" rel="stylesheet" />

<div id="login">

    <h3 class="text-center text-white pt-5">
        <blockquote class="blockquote text-center">
            <h1 class="sc_bugger-base-header"><strong><i id="sc_bugger-bug-icon-b" class="fa fa-bug sc_bugger-element-background-color-light"></i></strong>  Sitecore Bugger</h1>
        </blockquote>
    </h3>

    <div class="container">

        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form sc_bugger-form-validator" action="" method="post" novalidate>
                        <br />
                        <h3 class="text-center text-info">Contact sitecore bugger administrator</h3>
                        
                        <div class="form-group float-right">
                            <a class="text-center" href="@SitecoreBugger.Site.Utilities.Settings.GetSitecoreSettings("scb_admin_contact_email")">
                                @SitecoreBugger.Site.Utilities.Settings.GetSitecoreSettings("scb_admin_contact_email")
                            </a>
                        </div>
                    </form>
                    <br />
                </div>
            </div>
        </div>

    </div>
</div>
