
@{

    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/SCBLayout/_AccountAndDashMainLayout.cshtml";
}

<link href="~/Content/SCB/Styles/Login.css" rel="stylesheet" />

<div id="login">

    <h3 class="text-center text-white pt-5">
        <blockquote class="blockquote text-center">
            <h1 class="">Sitecore Bugger</h1>
            <footer class=" blockquote-footer">Rich experience <cite title="Source Title">sitecore project bug management.</cite></footer>
        </blockquote>
    </h3>


    <div class="container">

        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form sc_bugger-form-validator" action="" method="post" novalidate>
                        <br />
                        <h3 class="text-center text-info">Contact administrator</h3>


                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
