
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore bugger | @ViewBag.Title </title>
    <!--Style-->
    <link href="~/Content/SCB/Styles/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Script-->

    <script src="~/Scripts/SCB/plugins/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/SCB/plugins/popper.js"></script>
    <script src="~/Scripts/SCB/plugins/bootstrap.js"></script>
    <script src="~/Scripts/SCB/plugins/html2canvas.js"></script>

</head>
<body>
    @RenderBody() 
</body>
</html>
