@using Sitecore.Mvc;

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        @Html.Sitecore().Field("SCBFooterText")
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
