<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Enable SCB by true | Disable SCB by any other value-->
      <setting name="scb_enable" value="true" />
      <setting name="scb_connectionstring" value="Data Source=DESKTOP-I81CF1S\SQLEXPRESS;Initial Catalog=SC_BUGGER;User ID=scb;Password=scb@123" />
      <!--Security settings-->
      <setting name="SCB_JWTcommunicationKey" value="aaaaaAAAAbbbbbbbbBBBBBBBB" />
      <setting name="SCB_JWTtokenIssuer" value="https://github.com/andiappan-ar/sitecore-bugger" />
      <setting name="SCB_JWTappliesToAddress" value="https://github.com/andiappan-ar/sitecore-bugger" />
      <setting name="SCB_JWTsignatureAlgo" value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha256" />
      <setting name="SCB_JWTdigestAlgo" value="http://www.w3.org/2001/04/xmlenc#sha256" />
      <setting name="SCB_JWTExpiryTime" value="1" />
      <setting name="SCB_JWTUserCookieExpiryTime" value="1" />
      <setting name="SCB_JWTPasswordSalt_Size" value="32" />
    </settings>
    <pipelines>
      <initialize>
        <processor type="SitecoreBugger.Site.Sitecore.PipeLine.SCBRoutes, SitecoreBugger.Site" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <!--Todo check instead||-->
      <mvc.renderRendering>
        <processor type="SitecoreBugger.Site.Sitecore.PipeLine.SCBRenderingLogs, SitecoreBugger.Site" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>