<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--Enable SCB by true | Disable SCB by any other value-->
      <setting name="scb_enable" value="true" />
      <!-- 1. Typical site url & SXA this will be empty
           2. JSS sites provide the Sitecore head url where SCB hosted -->
      <setting name="scb_baseUrl" value="" />
      <setting name="scb_connectionstring" value="Data Source=.\SQLEXPRESS;Initial Catalog=SC_BUGGER;User ID=scb;Password=scb@123" />
      <!--Security settings-->
      <setting name="scb_jwtCommunicationKey" value="aaaaaAAAAbbbbbbbbBBBBBBBB" />
      <setting name="scb_jwtTokenIssuer" value="https://github.com/andiappan-ar/sitecore-bugger" />
      <setting name="scb_jwtAppliesToAddress" value="https://github.com/andiappan-ar/sitecore-bugger" />
      <setting name="scb_jwtSignatureAlgo" value="http://www.w3.org/2001/04/xmldsig-more#hmac-sha256" />
      <setting name="scb_jwtDigestAlgo" value="http://www.w3.org/2001/04/xmlenc#sha256" />
      <setting name="scb_jwtExpiryTime" value="1" />
      <setting name="scb_jwtUserCookieExpiryTime" value="1" />
      <setting name="scb_jwtPasswordSalt_Size" value="32" />
      <!--Skip sitedefinition-->
      <setting name="scb_skipSiteDefinition" value="shell,login,admin,service,modules_shell,modules_website,scheduler,system,publisher,exm" />
      <setting name="scb_admin_role_id" value="4" />
      <setting name="scb_tester_role_id" value="2" />
      <setting name="scb_admin_registration_code" value="admin-scb" />
      <setting name="scb_otheruser_registration_code" value="other-scb" />
      <setting name="scb_admin_contact_email" value="scadmin@scbugger.com" />
      <!--Assets-->
      <setting name="scb_script_assets" value="/Scripts/SCB/sc-bugger-tool-consolidated.js" />
      
    </settings>
    <pipelines>
      <initialize>
        <processor type="SitecoreBugger.Site.Sitecore.PipeLine.SCBRoutes, SitecoreBugger.Site" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <mvc.getPageRendering>
        <processor
          patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"
          type="SitecoreBugger.Site.Sitecore.PipeLine.SCBEnableScript, SitecoreBugger.Site"/>
      </mvc.getPageRendering>
      <!--Todo check instead||-->
      <mvc.renderRendering>
        <processor type="SitecoreBugger.Site.Sitecore.PipeLine.SCBRenderingLogs, SitecoreBugger.Site" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
