<?xml version="1.0" encoding="utf-8" ?>
<!--
Purpose: This include file adds a test SCB site definition
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="scbtestsite" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
			host="scbtestsite.dev" 
            rootPath="/sitecore/content"
            startItem="/SCBTestSite"
            database="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="false"
            htmlCacheSize="0MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>